/*global*/

$font-header: 'Parisienne', Sans-Serif;
$font-text: 'Robot', Sans-Serif;




/*Splash*/

.splash {
  background-image: url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    justify-content: space-around;
  }
  .nav-title {
    color: gold;
    font-family: $font-header;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nav-list {
    list-style: none;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
    float: right;
    li {
      padding: 10px;
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.btn {
  display: inline-block;
  background-color: orange;
  color: white;
  font-weight: bolder;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  transition: all 1s;
  &:hover {
    color: blueviolet;
  }
}