/*global*/

$font-header: 'Parisienne', Sans-Serif;
$font-text: 'Robot', Sans-Serif;
$font-cursive: 'Courgette', Sans-Serif;

.page-title {
  margin: 10% 0;
  text-align: center;
  h3 {
    font-size: 40px;
    margin: 10px 0;
    font-family: $font-text;
  }
  p {
    margin: 10px 0;
    font-size: 15px;
    font-family: $font-cursive;
  }
}


/*Splash*/

.splash {
  background-image: url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    justify-content: space-around;
  }
  .nav-title {
    color: gold;
    font-family: $font-header;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nav-list {
    list-style: none;
    margin-top: 10px;
    padding-top: 10px;
    font-family: $font-text;
    font-weight: bold;
    font-size: 20px;
    float: right;
    li {
      padding: 10px;
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .splash-title {
    text-align: center;
    margin-top:  10%;
    h2 {
      margin: 10px 0;
      padding: 10px 0;
      font-size: 40px;
      font-family: $font-cursive;
    }
    h1 {
      margin: 10px 0;
      padding: 10px 0;
      font-size: 60px;
      font-family: $font-text;
    }
    a {
      margin-bottom: 150px;
    }
  }
}

.btn {
  display: inline-block;
  background-color: orange;
  color: white;
  font-weight: bolder;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  transition: all 1s;
  &:hover {
    color: blueviolet;
  }
}

/*Services*/

.services {
  .row {
    .card-shop {
      text-align: center;
    }
    i {
      text-align: center;
      font-size: 40px;
      color: gold;
      border: gold 4px solid;
      padding: 15px;
      border-radius: 50%;
    }
    h4 {
      font-family: $font-text;
      font-size: 20px;
    }
  }
}